/* -----------------------Impostazioni generali----------------------- */

@import "font";

// Gliglia di bootstrap
$grid-gutter-width: 20px;

//Bordi
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

/* ----------------------------Breadcrumb----------------------------- */

// Color
$breadcrumb-a-color: white;
$breadcrumb-hover-a-color: white;
$breadcrumb-divider-color: white;
$breadcrumb-active-color: white;

//Link decoration
$breadcrumb-a-decoration: none;
$breadcrumb-hover-a-decoration: underline;

//Divider
$breadcrumb-divider: quote("•"); //quote("|");

// Background
$breadcrumb-bg: transparent;

//Margini e padding
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 5px;
$breadcrumb-margin-bottom: 0;

/* ----------------------------Pagination----------------------------- */

// Color
$pagination-color: $primary;
$pagination-hover-color: $secondary;
$pagination-active-color: $secondary;

// Background
$pagination-bg: transparent;
$pagination-hover-bg: transparent;
$pagination-active-bg: transparent;

// Border
$pagination-border-color: $primary;
$pagination-hover-border-color: $secondary;
$pagination-active-border-color: $secondary;

/* -------------------------------Form-------------------------------- */

// Impostazioni varie
$input-height: 60px;

// Color
$input-color: #777777;
$input-placeholder-color: lighten($text-color, 30%);
$input-plaintext-color: lighten($text-color, 30%);

// Checkbox
$checkbox-bg-color: transparent;
$checkbox-checked-bg-color: $primary;
$checkbox-border-color: $primary;
$checkbox-checked-border-color: $primary;

// Background
$input-bg: #363737;
$input-focus-bg: #363737;

// Border
$input-border-color: transparent;
$input-focus-border-color: transparent;

// Shadow
$input-box-shadow: 0px 3px 4px 0px rgba(0, 12, 29, 0.06);
$input-focus-box-shadow: 0px 3px 4px 0px rgba(0, 12, 29, 0.1);

/* ------------------------------Ueppy-------------------------------- */

$ueppy-font-size: $font-small;
$ueppy-color: #fff;
$ueppy-link-color: $secondary;
$ueppy-link-hover-color: $secondary;
$ueppy-bg-color: $primary;
$ueppy-logo-url: "/img/util/ueppy-credits-orange-white.svg"; // white | orange-black

@import "bootstrap/scss/bootstrap.scss";
