// Colore primario
$primary: rgb(247, 176, 49);
$primary-light: lighten($primary, 5%);
$primary-dark: darken($primary, 5%);

// Colore secondario
$secondary: rgb(47, 49, 49);
$secondary-light: rgb(60, 60, 60);
$secondary-dark: rgb(43, 44, 44);
$secondary-extra-dark: rgb(37, 37, 37);

// Colore teziario
// $tertiary: rgb(43,43,43);
// $tertiary-light: lighten($secondary, 5%);
// $tertiary-dark: darken($secondary, 5%);

$light: #efefef;

// Colore testi
$title-color: rgb(204, 204, 204);
$text-color: rgb(159, 159, 159);
$a-color: $text-color;
$a-hover-color: $primary;
