@import "colori";
@import "mixin";
@import "boot";
@import "button";
@import "util";
@import "plugin";

@import "font-awesome/fontawesome.scss";
@import "font-awesome/light.scss";
@import "font-awesome/regular.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";

.page#vertical-slider {
	height: 100vh;
	.swiper-wrapper {
		.swiper-slide {
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			// Srollbar
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: #f1f1f1;
			}
			&::-webkit-scrollbar-thumb {
				background: #888;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}
	}
	.swiper-pagination {
		right: auto;
		left: 10px;
	}
}
