@import "colori";
@import "mixin";
@import "boot";
@import "button";
@import "util";
@import "plugin";

@import "font-awesome/fontawesome.scss";
@import "font-awesome/light.scss";
@import "font-awesome/regular.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";

body {
	background-color: $secondary;
}

.page#vertical-slider {
	height: 100vh;
	.swiper-wrapper {
		.swiper-slide {
			height: 100%;
			overflow-y: scroll;
			// Srollbar
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: $secondary;
			}
			&::-webkit-scrollbar-thumb {
				background: $secondary-dark;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: $secondary-light;
			}
		}
	}
	.swiper-pagination {
		right: auto;
		left: 5px;
		.swiper-pagination-bullet-active {
			background-color: $primary;
		}
	}
}

header {
	.main-menu,
	.full-hero {
		padding: 0 28px;
	}
	background-color: $secondary-dark;

	.main-menu {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		widows: 100%;
		.int {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 70px;
			.dx {
				display: flex;
				align-items: center;
				.inline-menu {
					list-style: none;
					margin: 0;
					padding: 0;
					margin-right: 30px;
					li {
						display: inline;
						margin-left: 20px;
						position: relative;
						&:hover,
						&.active {
							&:before {
								content: "";
								height: 2px;
								width: 30px;
								background-color: $primary;
								position: absolute;
								bottom: -8px;
								left: 0;
							}
							a {
								color: $primary;
							}
						}
						a {
							color: white;
						}
					}
				}
			}
		}
	}

	.full-hero {
		margin-top: 70px;
		.int {
			height: calc(100vh - 70px);
			align-items: center;
			justify-content: space-between;
			.titolo {
				width: 450px;
				max-width: 100%;
				color: white;
				p {
					font-weight: 400;
					line-height: 1.3;
				}
				.btn {
					margin-top: 25px;
				}
			}
			.image {
				align-self: flex-end;
				margin-right: 120px;
				img {
					height: calc(100vh - 100px);
				}
			}
		}
	}
}
